@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}
.show{
    display: block;
    background-color: black;
    height: 80vh;
    overflow-y: scroll;
}

.hide{
    display: none;
}

.message{
    display: flex;
    background-color: white;
}

.float-left{
    display: flex;
    background-color: white;
    padding-left: 30px;
}

/* LOG IN */

.body{
    width: 100%;
    height: 100vh;
    background-color: #495688;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.main{
    width: 40%;
    height: 80vh;
    margin: auto;
    border-radius: 37px;
    background: #495688;
    box-shadow:  -35px 35px 35px #3e476a,
                 35px -35px 35px #5365af;
}

.header{
    color: rgb(223, 128, 3)
}

.input {
    border: none;
    margin: 2%;
    border-radius: 15px;
    padding: 15px;
    background-color: #3e476a;
    box-shadow: 2px 2px 4px #5365af,
                -2px -2px 4px #5365af;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
   }
   
   .input:focus {
    outline-color: white;
    place-content: "Enter your message!";
   }

   button {
    color: #090909;
    margin: 2%;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #5365af;
    border: 1px solid #5365af;
    transition: all .3s;
    box-shadow: 2px 2px 4px #5365af,
               -2px -2px 4px #5365af;
    cursor: pointer;
  }
  
  button:hover {
    border: 1px solid white;
  }
  
  button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
               -4px -4px 12px #ffffff;
  }
/* LOG IN */

/* CHAT ROOM */

/* CHAT ROOM */
