@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

.hide{
    display: none;
}
/* LOG IN */

.body{
    width: 100%;
    height: 100vh;
    background-color: #495688;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.main{
    width: 40%;
    height: 80vh;
    margin: auto;
    border-radius: 37px;
    background: #495688;
    box-shadow:  -35px 35px 35px #3e476a,
                 35px -35px 35px #5365af;
}

.header{
    color: rgb(223, 128, 3)
}

.input {
    border: none;
    margin: 2%;
    border-radius: 15px;
    padding: 15px;
    background-color: #3e476a;
    box-shadow: 2px 2px 4px #5365af,
                -2px -2px 4px #5365af;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
   }
   
   .input:focus {
    outline-color: white;
    place-content: "Enter your message!";
   }

   button {
    color: #090909;
    margin: 2%;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #3353d2;
    border: 1px solid #5365af;
    transition: all .3s;
    /* box-shadow: 2px 2px 4px #3b56c4,
               -2px -2px 4px #5365af; */
    cursor: pointer;
  }
  
  button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
               -4px -4px 12px #ffffff;
  }
/* LOG IN */

/* CHAT ROOM */

.main-chat-holder{
    display: flex;
    overflow-x: hidden;
    position: sticky;
    top: 0vw;
    background: rgb(39,39,112);
    background: linear-gradient(250deg, rgba(39,39,112,1) 0%, rgba(123,129,252,1) 100%);
    height: 100vh;
    color: rgb(223, 128, 3);
}

.rooms-list{
    width: 75%;
    height: 3vw;
}

.room{
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      rgb(223, 128, 3) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
  
.room:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
  
.room:hover {
   background-position: 0;
}
  
.room:hover::before{
    width: 100%;
}
  

.room-desc-rules-holder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 36vw;
    background-color: #37488d;
    border-radius: 20px;
}

.desc-holder{
    width: 80%;
    height: 10vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: overlay;
}

.room-desc{
    font-size: 1.3vw;
}

.rules-holder{
    width: 80%;
    height: 10vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: overlay;
}

.room-rules{
    font-size: 1.3vw;
}

.close-room-info-btn{
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 83%;
}

.user-info-container{
    display: block;
    width: 40%;
    height: 60vh;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.rooms-list{
    margin: 2% 12%;
}

.room-image{
    border-radius: 50%;
    width: 7vh;
}

.room{
    margin: 3vh;
    cursor: pointer;
}

.join-btn{
    width: 10%;
    position: absolute;
    background-color: transparent;
    border: 4px solid #5365af;
    left: 7.5vh;
    top: 75vh;
}

.logout-btn{
    width: 10%;
    position: absolute;
    background-color: transparent;
    border: 4px solid #5365af;
    top: 85vh;
    left: 7.5vh;
}

.intro-holder{
    width: 20%;
}

.chat-holder{
    display: block;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: 90vh;
    overflow-y: scroll;
    width: 60%;
}

.room-title-holder{
    width: 100%;
    height: 5vw;
    background-color: #3353d2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.room-title{
    position: sticky;
    font-size: 2.5vw;
    cursor: pointer;
}

.room-info{
    width: 60%;
    height: auto;
    margin: auto;
    position: fixed;
    background-color: #3353d2;
}

.chat-members-holder{
    display: flex;
}

.point{
    width: 0;
	height: 0;
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-top: 10vh solid #f9bbb1;
	position: absolute;
	top: 45%;
	right: -10%;
	transform: rotate(-60deg);
}

.username{
    float: left;
    width: 100%;
}

.message{
    padding: 1%;
    max-width: 30vh;
    background-color: #3353d2;
    margin: 2vh 1vh 2vh 15vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.float-right{
    padding: 1%;
    background-color: #3353d2;
    margin: 1vh 1vh 1vh 90vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.message-body{
    float: left;
    word-break: break-all;
}

.username-container{
    height: auto;
    width: 20vh;
}

.message-container{
    width: 100%;
    min-height: 4vw;
    font-size: 1.5vw;
    overflow: overlay;
}

.input-btn-holder{
    width: 60%;
    position: absolute;
    top: 90vh;
    left: 41.65vh;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.send-btn{
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    position: absolute;
    top: 0vh;
    left: 80vh;
}

.send-btn span{
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;   
}

.send-btn svg{
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.send-btn:hover .svg-wrapper{
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send-btn:hover span{
    transform: translateX(5em);
}

.send-btn:hover svg{
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.send-btn:active{
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

.user-holder{
    width: 20%;
}

.user-info-holder{
    width: 100%;
    margin: 1vh;
    height: 5vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-image{
    border-radius: 50%;
    width: 5vh;
    margin-right: 1vh;
}

.chat-holder::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
.chat-holder::-webkit-scrollbar-track {
    background: transparent ;        /* color of the tracking area */
  }
.chat-holder::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px #37488d solid;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }

/* CHAT ROOM */

/* SEARCH ROOMS */

.search-rooms-main{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-position: fixed;
    background-attachment: fixed;
    background-color: #3e476a;
}

.blur-background{
    width: 100%;
    height: 100vh;
    background-color: #3e476a;
}

.create-room{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 40%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 37px;
    background: #495688;
}

.close-button{
    text-align: center;
    position: absolute;
    border-radius: 50%;
    top: 0%;
    left: 85%;
}
/* SEARCH ROOMS */

/* NEW ROOMS */
.room-button-holder{
    width: 50%;
    height: 20vh;
    margin: auto;
    padding: 1%;
    border: 5px #3e476a solid;
    border-radius: 20px;
    background-color: #37488d;
    display: flex;
}

.join-room-title{
    float: left;
    font-size: 2.5rem;
    margin-top: 4%;
    margin-left: 10%;
}

.room-description-holder{
    width: auto;
    height: auto;
}

.room-description{
    float: left;
    font-size: 1.5rem;
    position: relative;
    top: 30%;
}

.join-button{
    float: right;
    margin-top: 3.5%;
}

.room-title-holder-2{
    width: 80%;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-button-holder{
    width: 20%;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center
}

.back-to-chat-rooms-btn{
    position: absolute;
    top: 0;
    left: 0;
}

/* NEW ROOMS */

